/* monserate font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --color_primary:#6c63ff;


}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: white;
    background-color: #1f2641;

}
.container{
    width:80% ;
    margin: 0 auto;

}
section{
    padding: 6rem 0 ;
}
h1 h2 h3 h4 h5{
    line-height: 1.2;
}
h1{
    font-size: 2rem;
    
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
a{
    color: aliceblue;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: white;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;


}
.btn:hover{
    background: transparent;
    border-color:white ;
    color: white;

}
.btn-primary{
    color: white;
    background-color: orangered;
}


/* navbar--------------- */

nav{
    background-color: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav_menu1{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.nav_container{
    height: 100%;
    display: flex;
   
    align-items: center;
    justify-content: space-between;
}
.bg-change{
    background-color: #6c63ff;
}
.nav_menu{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 4rem;
}
nav button{
    display: none;
}
.nav_menu a{
    font-size: 0.9rem;
    transition: all 400ms ease;
    font-family: 'Tilt Neon', cursive;
}


header{
    position: relative;
    top:5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}
.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
 

}
.header_left p{
    margin: 1rem 0 2rem;

}
.header_left h1{
    font-weight: bolder;
}
.category_container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem;
   
    
}
.category{
    background-color: #393d70;
    margin: 10rem 0rem;
    height: 30rem;
}
.category1{
    height: 13rem;
    
    background-color: #424890;
   
    border-radius: 20px;
    padding: 1rem 1rem;
    width: 32vh;
    margin: 1rem 0.8rem;
    transition: all 400ms ease;
    cursor: pointer;
    

}
.category1:hover{
    box-shadow: 0rem 3rem 3rem rgba(0,0,0,0.3);
}
.category1 h5{
    font-size: 1.7rem;
}
.right_category{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  align-items: start;
  justify-content: space-between;

}
.left_category{
    width: 90%;

}
.left_category h1{
    line-height: 2rem;
}
.left_category p {
    margin: 1rem 0rem 1rem;
}

/* course section------------- */
.course_menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: start;
    justify-content: space-between;
    gap: 2rem;

}
.course1{
    background-color:#393d70 ;
    height: 31rem;
    margin: 1rem 1rem;
    width: 100%;
    /* border-radius: 10px; */
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    text-align: center;
    transition: all 400ms ease;
    padding: 6px;
    

}
.course1:hover{
    background: transparent;
    border: solid 1px ;
}
.course h1{
    text-align: center;
}

.course1 p{
    margin: 1.2rem 0rem;
}
.course_image img{
    height: 13rem;
}

/* answer and question */

.faqs{
    background-color: #424890;
    box-shadow: inset 0 0 3rem black;

}
.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}
.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background-color:#6c63ff ;
    cursor: pointer;

}
.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}
.faq_icon{
    align-self: flex-start;
    font-size: 1.2rem;

}
.faq p {
    margin-top: 0.8rem;
    display: none;
}
.faq.open p{
    display: block;
}

/* testimonial--------------------- */
.testimonial_container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;

}
.testimonial{
    padding-top: 2rem;
    display: flex;
    align-items: center;
   
   
}
.testimonial_container h2{
    text-align: center;
}
.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0rem auto;
    border: 1rem solid #424890  ;
}
.testimonial_info{
    text-align: center;
}
.testimonial_body{
    background-color: #6c63ff;
    padding: 2rem;
    margin-top: 2rem;
    position: relative;
    

}
.testimonial_body::before{
    content: "";
    height: 3rem;
    width: 3rem;
    background-color:#6c63ff ;
    display: block;
    position: absolute;
    left: 42%;
    top: -1.5rem;
    transform: rotate(45deg);
}


/* ----------footer--------- */
footer{
    background-color: #393d70;
    padding-top:2rem ;
  
  
    /* font-size: 1.2rem; */
}
.footer_container{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 5rem;
    width: 90%;
    


}
.footer_1{
    width: 14rem;

}
.footer_3{
    width: 11rem;
}
footer h4{
    margin-bottom: 2rem;
}
.footer_social{
    display: flex;
    gap: 1rem;
    font-size: 1.7rem;
   
 
  
}
#copyright{
    text-align: center;
    /* margin-bottom: 0rem; */
}
.mobile_logo{
    display: flex;
    gap: 0.3rem;
}



/* -----------------media query for tablet-------------- */
@media  screen and (max-width:1024px) {
    .container{
        width: 90%;
    }
    h1 h2 h3 h4 h5{
        line-height: 0.8;
    }
    h1{
        font-size: 2rem;
        
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h4{
        font-size: 1rem;
    }
    p{
        font-size: 1.2rem;
    }
    .open_menu{
        display: inline-block;
        width: 4rem;
        height: 4rem;
        background: transparent;
        color: white;
    }
    .close_menu{
       
        width: 4rem;
        height: 4rem;
        background: transparent;
        color: white;
    }
    .nav_menu{
        flex-direction: column;
        position: fixed;
        right: 5%;
        gap: 0rem;
        top: 10%;
        width: 14rem;
        height: fit-content;
        display: none;
        
        
      
    }
    .nav_menu li{
        width: 100%;
        animation: animate_nav_item 300ms linear forwards;
        transform-origin:top right ;
     
    }
    .nav_menu  li a{
       width: 100%;
       background-color: #6c63ff;
       display: grid;
       place-items: center;
       height: 5rem;
       font-size: 1.5rem;
       transition: all 0.3s ease-in-out;
      
       
    }
    .nav_menu  li a:hover{
        background-color: #393d70;
    }
    @keyframes animate_nav_item {
        0%{
            transform: rotateZ(-90deg);
        }
        100%{
            transform: rotateZ(0);
        }
    }
    /* ===============header================ */
    .header_left h1{
        width: 20rem;
    }
   header{
    margin-bottom: 1rem;
    height: 37rem;
   }
    /* category============ */
    .category{
        height: auto;
    }
    .category_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .right_category{
        grid-template-columns: 1fr 1fr;
        /* gap: 0.1rem; */
    }
    .category1{
        width: 20rem;
    }
  /* ==============course============== */
  .course{
    margin-top: -10rem;
  }
  .course_menu{
    grid-template-columns: 1fr 1fr;
   

  }
  .course1 a {
    margin-bottom: 1rem;
  }
  /* ========faqs============ */
  .faqs_container{
    margin-left: 2rem;
  }
/* =============footer============= */
 .footer_container{
    grid-template-columns: 1fr 1fr;
 }
 .copywrite{
    margin-left: 10rem;
 }
.footer_container h4{
 font-size: 1.3rem;
 margin-bottom: 1rem;
}


}


@media  screen and (max-width:600px) {
    .container{
        width: 94%;
    }
    .nav_menu{
        right: 3%;

    }
    header{
        height: 90vh;
    }
    .header_container{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 3rem;
    }
    .header_left h1{
        width: 90%;
    }
    .header_image img{
        display: none;
    }

    /* ====category========= */

    .left_category {
        width: 90%;
       
        margin-right: 2rem;
        height: auto;
        
    }
    .left_category p{
        font-size: 0.9rem;
    }
    .right_category p{
        font-size: 0.8rem;
    }
    .right_category h5{
        font-size: 1.3rem;
    }
    .category1{
        width: 10rem;
    }
    /* ==========courses============ */
    .course_menu{
        grid-template-columns: 1fr;
        place-items: center;
        
    }
    .course h1{
        margin-bottom: 3rem;
    }
    .course1{
        margin-top: 0.1rem;
        width: 80%;
    }

    /* =============faqs============= */
    .faqs_container{
        grid-template-columns: 1fr;
        /* place-items: center; */
    }
    .faq{
        width: 90%;
    }
    /* ==========footer============ */
    .footer_container{
        gap: 2rem;
        grid-template-columns: 1fr;
       text-align: center;
       place-items: center;

    }
   
}

